.searchIcon{
   border: 2px solid transparent !important;
   color: #fff !important;
   background-color: #524e4e !important;
}
.searchIcon:hover{
    background: transparent !important;
    border: 2px solid #524e4e!important;
    color: #524e4e !important;
}
