.searchIcon{
   border: 2px solid transparent !important;
   color: #fff !important;
   background-color: #cb4845 !important;
}
.searchIcon:hover{
    background: transparent !important;
    border: 2px solid #cb4845!important;
    color: #cb4845 !important;
}
